<h1 class="text-4xl md:text-5xl font-extrabold dark:text-white mb-5">
  About this site
</h1>

<div class="w-1/2">
  <p class="dark:text-white mb-5">
    This website was created as a submission for the jHub Coding Scheme which
    aims "to give serving personnel the opportunity to gain valuable coding and
    AI skills, whilst getting paid to do so, so that they might use these skills
    to enable an information advantage".
  </p>

  <p class="dark:text-white mb-5">
    This particular challenge is to create a dynamic website that makes multiple
    calls to a Government API. It must also use a framework. I chose to use the
    Angular Framework after completing Maximilian Schwarzmüller's
    <a
      class="underline hover:text-gray-500"
      href="https://www.udemy.com/course/the-complete-guide-to-angular-2"
      target="_blank"
      rel="noopener noreferrer"
      >Angular - The Complete Guide course</a
    >
    on Udemy.
  </p>

  <p class="dark:text-white mb-5">This website was created using:</p>
  <ul class="max-w-md mb-4 space-y-1 list-disc list-inside dark:text-white">
    <li>
      <a
        href="https://angular.dev"
        class="me-4 underline hover:text-gray-500 md:me-6"
        target="_blank"
        rel="noopener noreferrer"
        >Angular</a
      >
    </li>
    <li>
      <a
        href="https://tailwindcss.com"
        class="me-4 underline hover:text-gray-500 md:me-6"
        target="_blank"
        rel="noopener noreferrer"
        >Tailwind</a
      >
    </li>
    <li>
      <a
        href="https://flowbite.com"
        class="me-4 underline hover:text-gray-500 md:me-6"
        target="_blank"
        rel="noopener noreferrer"
        >Flowbite</a
      >
    </li>
  </ul>

  <p class="dark:text-white mb-5">
    I have used the
    <a
      class="underline hover:text-gray-500"
      href="https://environment.data.gov.uk/flood-monitoring/doc/reference"
      target="_blank"
      rel="noopener noreferrer"
      >Government Flood Warning API</a
    >
    to fetch data about current flood warnings and to list all the areas
    included in the API.
  </p>

  <p class="dark:text-white mb-5">
    The flood warning data is fetched and displayed in a form that can be sorted
    and filtered.
  </p>

  <p class="dark:text-white mb-5">
    The areas can be displayed within a radius of a postcode. To convert the
    post codes to latitude and longitude, I used the
    <a
      class="underline hover:text-gray-500"
      href="https://api.postcodes.io"
      target="_blank"
      rel="noopener noreferrer"
      >Postcode & Geolocation API for the UK API</a
    >.
  </p>

  <p class="dark:text-white mb-5">
    More details about this website and technical details of I created it will
    be
    <a
      class="underline hover:text-gray-500"
      href="https://alan-henry.co.uk/blog"
      target="_blank"
      rel="noopener noreferrer"
      >posted on my blog soon</a
    >.
  </p>
</div>
