<h1 class="text-4xl md:text-5xl font-extrabold dark:text-white mb-5">
  Measurement Stations
</h1>

<p class="dark:text-white mb-8 sm:mb-10">
  Search for data on flood measurement stations.
  <br />
  Enter a place name in the box below and click the Search button.
</p>

<form class="max-w-sm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label
      for="base-input"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Enter place name</label
    >
    <input
      type="text"
      id="base-input"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name="searchRivers"
      [(ngModel)]="searchRivers"
    />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Search
  </button>
</form>

<div *ngIf="stations.length">
  <ul>
    <li *ngFor="let station of stations[2]">
      {{ station.label }}
      <!-- Assuming the station object has a 'name' property -->
    </li>
  </ul>
</div>
