<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl md:text-5xl font-extrabold dark:text-white mb-5">
    Flood Warning Details
  </h1>

  <p class="text-xl md:text-2xl dark:text-white mb-5">
    <a href="/flood-warnings">< Back</a>
  </p>

  <div
    *ngIf="floodWarning"
    class="bg-white dark:bg-gray-800 shadow-md rounded sm:rounded-lg p-8 mb-4"
  >
    <div *ngIf="floodWarning" class="mb-4 text-gray-800 dark:text-white">
      <p class="mb-2">
        <strong>Description:</strong> {{ floodWarning.description || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>County:</strong> {{ floodWarning.floodArea.county || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Severity level:</strong>
        {{ floodWarning.severityLevel || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Severity:</strong> {{ floodWarning.severity || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>River or sea:</strong>
        {{ floodWarning.floodArea.riverOrSea || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Flood area description:</strong>
        {{ floodWarning.floodArea.description || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Message:</strong> {{ floodWarning.message || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Date and time raised:</strong>
        {{ floodWarning.timeRaised | date: 'dd MMM yyyy, h:mm a' || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Latitude:</strong>
        {{ floodWarning.floodArea.lat | number: '1.4-4' || 'N/A' }}
      </p>
      <p class="mb-2">
        <strong>Longitude:</strong>
        {{ floodWarning.floodArea.long | number: '1.4-4' || 'N/A' }}
      </p>
    </div>

    <div *ngIf="!floodWarning" class="text-center">
      <p class="text-xl dark:text-white">Loading flood warning details...</p>
    </div>
  </div>
</div>
